body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.wrapper {
    height: auto;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(0, 0, 0);
    padding: 1em;
    position: relative;
    border-radius: 10px;
}
.wrapper::before {
    content: "";
    height: 180px;
    width: 180px;
    position: absolute;
    border-radius: 50%;
    background-color: violet;
    bottom: 20%; 
    animation: animate 10s linear infinite;
}
.wrapper::after {
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    top: 15%;
    right: 20%;
    z-index: 0;
    animation: animate 5s linear infinite
}
.inputBox {
    width: 100%;
    padding: 20px 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 700;
    background-color:black;
    color:white;
    box-shadow: inset 0px 0px 4px 2px rgb(59,59,59),
        0px 0px 10px 3px rgb(46,43,43);
    position: relative;
    z-index: 100;
}
.btn {
    height: 60px;
    width: 60px;
    margin: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px black,0px 0px 10px 3px black;
    position: relative;
    z-index: 100;
}
@keyframes animate {
  0% {
      transform: scale(0.5) rotate(270deg) translateX(10px);
  }
  50% {
      filter: hue-rotate(360deg);
      transform: scale(1.2) rotate(360deg) translateX(10px);
      transform-origin: 0 30px;  
  }
  100% {
    transform: scale(0.5) rotate(180deg) translateX(10px);
  }  
}
